<div class="col-md-12" [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card accent="info">
    <nb-card-header class="text-center">Stupid Todos</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-12 mb-3">
          <button class="float-right mr-2" nbButton status="success" (click)="open()">Add<nb-icon icon="plus-outline">
            </nb-icon></button>
        </div>
        <div class="col-md-3" *ngFor="let todo of todoList">
          <nb-card status="{{todo.colorCode}}">
            <nb-card-header>{{todo.heading}}</nb-card-header>
            <nb-card-body>
              {{todo.body}}
            </nb-card-body>
            <nb-card-footer>More..</nb-card-footer>
          </nb-card>
        </div>
      </div>

      <br />

      <nz-pagination [nzPageIndex]="1" [nzTotal]="todoCount" nzShowSizeChanger [nzPageSize]="8"
        [nzPageSizeOptions]=[8,16,24,32] (nzPageIndexChange)="onPageChange($event)"
        (nzPageSizeChange)="onPageSizeChange($event)"></nz-pagination>

    </nb-card-body>
  </nb-card>

</div>
