<div class="col-md-12" [nbSpinner]="loading" nbSpinnerStatus="primary">
  <nb-card accent="info">
    <nb-card-header class="text-center">Stupid Todos</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-md-12 mb-3">
          <button class="float-right mr-2" nbButton status="success" (click)="open()">Add<nb-icon icon="plus-outline">
            </nb-icon></button>
        </div>
        <div class="col-md-3 todo-div" *ngFor="let todo of todoList">
          <nb-card status="{{todo.colorCode}}">
            <nb-card-header>{{todo.heading}}</nb-card-header>
            <nb-card-body>
              {{todo.body}}
              <div class="todo-fadeout"></div>
            </nb-card-body>
            <nb-card-footer>
              <div class="todo-actions">
                <button nbButton ghost size="tiny" status="info" (click)="viewTodo(todo)">
                  <nb-icon icon="eye">
                  </nb-icon>
                </button>
                <button nbButton ghost size="tiny" status="warning" (click)="editTodo(todo)">
                  <nb-icon icon="edit">
                  </nb-icon>
                </button>
                <button nbButton ghost size="tiny" status="danger" (click)="deleteTodo(todo)">
                  <nb-icon icon="trash-2">
                  </nb-icon>
                </button>

                <!-- <nb-actions size="small" fullWidth>
                  <nb-action>
                    <button nbButton ghost size="tiny" (click)="open()" [style.padding]="0">
                      <nb-icon icon="eye">
                      </nb-icon>
                    </button>
                  </nb-action>
                  <nb-action>
                    <button nbButton ghost size="tiny" (click)="open()" [style.padding]="0">
                      <nb-icon icon="edit">
                      </nb-icon>
                    </button>
                  </nb-action>
                  <nb-action>
                    <button nbButton ghost size="tiny" (click)="open()" [style.padding]="0">
                      <nb-icon icon="trash-2">
                      </nb-icon>
                    </button>
                  </nb-action>
                </nb-actions> -->
              </div>

            </nb-card-footer>
          </nb-card>
        </div>
      </div>

      <br />

      <nz-pagination [nzPageIndex]="1" [nzTotal]="todoCount" nzShowSizeChanger [nzPageSize]="8"
        [nzPageSizeOptions]=[8,16,24,32] (nzPageIndexChange)="onPageChange($event)"
        (nzPageSizeChange)="onPageSizeChange($event)"></nz-pagination>

    </nb-card-body>
  </nb-card>

</div>
