@import "../../@theme/styles/themes";

.btn-row {
  margin-bottom: 10px;
}

.todo-div {
  nb-card-body {
    flex: none;
    height: 170px;
    overflow: hidden;

    .todo-fadeout {
      bottom: 0;
      height: 4em;
      position: absolute;
      width: 100%;
    }
  }
}

.todo-actions {
  display: flex;
  justify-content: space-around;

  button {
    width: 33.3%;
    text-align: center;
  }

  // button + button {
  //   border-left: 1px solid #edf1f7;
  // }
}
