<nb-card class="todoAddCard" status="{{colorCode}}">
  <nb-card-header class="text-center">Add a Stupid Todo</nb-card-header>
  <nb-card-body class="todoform-col">

    <div class="col-12">
      <label for="heading">Heading</label>

      <input class="todo-form" type="text" nbInput fullWidth fieldSize="medium" placeholder="Heading"
        [formControl]="heading">
      <div class="validationError text-danger" *ngIf="heading.invalid && (heading.dirty || heading.touched)">
        <div *ngIf="heading.errors.required">Heading cannot be empty</div>
        <div *ngIf="heading.errors.maxlength">Heading cannot be greater than 100 characters</div>

      </div>
    </div>

    <div class="col-12">
      <label for="body">Body</label>

      <textarea class="body-textarea" nbInput fullWidth placeholder="Body" [formControl]="body"></textarea>
      <div class="validationError text-danger" *ngIf="body.invalid && (body.dirty || body.touched)">
        <div *ngIf="body.errors.required">Body cannot be empty</div>
        <div *ngIf="body.errors.maxlength">Body cannot be greater than 500 characters</div>

      </div>
    </div>

    <div class="col-12">
      <label> Color</label>
      <ul class="color-picker">
        <li class="{{color}}" *ngFor="let color of todoColors" (click)='changeColor(color)'></li>
      </ul>
    </div>

  </nb-card-body>
  <nb-card-footer class="text-right">
    <button class="mx-2" nbButton status="basic" (click)="cancel()">Close</button>
    <button class="mx-2" nbButton status="success" [disabled]="(heading.invalid || body.invalid)"
      (click)="submit()">Submit</button>
  </nb-card-footer>
</nb-card>
