@import "../../@theme/styles/themes";

.sm-card {
  // border: 1px solid black;

  nb-card {
    padding: 15px;
  }

  .img-icon {
    float: right;
  }

  img {
    width: 70px;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(44, 51, 73, 0.1));
    filter: drop-shadow(5px 5px 5px rgba(44, 51, 73, 0.1));
  }

  h4 {
    font-size: 45px;
    margin-top: 25px;
  }

  @media (min-width: 768px) and (max-width: 1110px) {
    img {
      width: 50px;
    }

    h4 {
      font-size: 28px;
    }
  }
}
